{
  "openapi": "3.0.3",
  "info": {
    "title": "Kadoa API",
    "version": "3.0.0",
    "contact": {
      "name": "Support",
      "email": "support@kadoa.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kadoa.com"
    }
  ],
  "paths": {
    "/v4/adhoc/{schemaId}": {
      "post": {
        "summary": "Extract data from a single webpage (Proxy to Scraper API)",
        "description": "Instantly extracts data from a webpage using either a schema for structured data or markdown/html for unstructured content. This endpoint proxies requests to the scraper API.",
        "tags": [
          "Adhoc"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "schemaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Either a custom schema ID or one of the following special values:\n* `html` - Returns raw HTML of the page\n* `body` - Returns cleaned HTML body content\n* `markdown` - Returns content converted to markdown format\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "The URL link to be scraped"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of location, either auto or manual"
                      },
                      "isoCode": {
                        "type": "string",
                        "description": "The ISO code of the location, only required if type is manual. Available locations can be found on the locations api."
                      }
                    },
                    "description": "The location object for the proxy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response object containing scraping data and request metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response (SUCCESS, NO_DATA, TIMEOUT, NETWORK_ERROR, ERROR)"
                    },
                    "link": {
                      "type": "string",
                      "description": "The URL that was scraped"
                    },
                    "location": {
                      "type": "object",
                      "description": "The location object used for the proxy"
                    },
                    "data": {
                      "type": "object",
                      "description": "Validated data after scraping and processing (null for NO_DATA, TIMEOUT, etc.)"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "Path to the screenshot"
                    },
                    "requestTimeMs": {
                      "type": "integer",
                      "description": "The time taken to process the request in milliseconds"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable message explaining the result (present for error/timeout scenarios)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, either due to missing 'link' or 'schemaId'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Adhoc config not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (rare - most failures return 200 with appropriate status)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response (ERROR)"
                    },
                    "link": {
                      "type": "string",
                      "description": "The URL that was being scraped"
                    },
                    "location": {
                      "type": "object",
                      "description": "The location object used for the proxy"
                    },
                    "requestTimeMs": {
                      "type": "integer",
                      "description": "The time taken to process the request in milliseconds"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "Path to the screenshot"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/changes": {
      "get": {
        "summary": "Get all data changes",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of workflow IDs. If not provided, returns changes for all ACTIVE workflows",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date to filter changes (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date to filter changes (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow changes returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the response"
                    },
                    "changesCount": {
                      "type": "integer",
                      "description": "Total number of changes found"
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the change"
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "ID of the workflow this change belongs to"
                          },
                          "data": {
                            "type": "array",
                            "description": "Current state of the data after the change",
                            "items": {
                              "type": "object"
                            }
                          },
                          "differences": {
                            "type": "array",
                            "description": "Structured representation of changes with object-based diffing",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Type of change (added, removed, or changed)",
                                  "enum": [
                                    "added",
                                    "removed",
                                    "changed"
                                  ]
                                },
                                "fields": {
                                  "type": "array",
                                  "description": "List of field changes",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "Field name"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Current field value"
                                      },
                                      "previousValue": {
                                        "type": "string",
                                        "description": "Previous field value (only present for changed type)"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "description": "URL where the change was detected"
                          },
                          "screenshotUrl": {
                            "type": "string",
                            "description": "URL of the screenshot taken when the change was detected"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the change was created"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of changes found"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of records per page"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid date range or workflow IDs)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \"https://api.kadoa.com/v4/workflows/changes?workflowIds=123,456&startDate=2024-01-01T00:00:00Z&endDate=2024-03-01T00:00:00Z\" \\\n-H \"x-api-key: YOUR_API_KEY\"\n"
          },
          {
            "lang": "python",
            "source": "import requests\n\nurl = \"https://api.kadoa.com/v4/workflows/changes\"\nheaders = {\n    \"x-api-key\": \"YOUR_API_KEY\"\n}\nparams = {\n    \"workflowIds\": \"123,456\",\n    \"startDate\": \"2024-01-01T00:00:00Z\",\n    \"endDate\": \"2024-03-01T00:00:00Z\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\ndata = response.json()\nprint(data)\n"
          }
        ]
      }
    },
    "/v4/changes/{changeId}": {
      "get": {
        "summary": "Get data change by ID",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow change to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow change returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the change"
                    },
                    "workflowId": {
                      "type": "string",
                      "description": "ID of the workflow this change belongs to"
                    },
                    "data": {
                      "type": "array",
                      "description": "Current state of the data after the change",
                      "items": {
                        "type": "object"
                      }
                    },
                    "differences": {
                      "type": "array",
                      "description": "Structured representation of changes with object-based diffing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of change (added, removed, or changed)",
                            "enum": [
                              "added",
                              "removed",
                              "changed"
                            ]
                          },
                          "fields": {
                            "type": "array",
                            "description": "List of field changes",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Field name"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Current field value"
                                },
                                "previousValue": {
                                  "type": "string",
                                  "description": "Previous field value (only present for changed type)"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "URL where the change was detected"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "URL of the screenshot taken when the change was detected"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the change was created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid change ID format)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "403": {
            "description": "Forbidden (no access to the workflow or workflow not real-time enabled)"
          },
          "404": {
            "description": "Change not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \"https://api.kadoa.com/v4/changes/123456789\" \\\n-H \"x-api-key: YOUR_API_KEY\"\n"
          },
          {
            "lang": "python",
            "source": "import requests\n\nurl = \"https://api.kadoa.com/v4/changes/123456789\"\nheaders = {\n    \"x-api-key\": \"YOUR_API_KEY\"\n}\n\nresponse = requests.get(url, headers=headers)\ndata = response.json()\nprint(data)\n"
          }
        ]
      }
    },
    "/v4/files/{fileName}": {
      "get": {
        "summary": "Download a file",
        "description": "Downloads a specific file from the storage",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "description": "Name of the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "File content in its original format"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - File name is required or invalid"
          },
          "401": {
            "description": "Unauthorized - Authentication required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/files/bulk-download": {
      "post": {
        "summary": "Download multiple files as a ZIP archive",
        "description": "Downloads multiple files from the storage and returns them as a ZIP archive",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of file names to download"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing the requested files",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "ZIP archive containing the requested files"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Files list is required or invalid"
          },
          "401": {
            "description": "Unauthorized - Authentication required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/locations": {
      "get": {
        "summary": "Get all available locations",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryName": {
                            "type": "string",
                            "description": "Full name of the country"
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "Two-letter ISO country code in uppercase"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    },
    "/v4/schemas": {
      "get": {
        "summary": "Get all schemas",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Schemas retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemasListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new schema",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "entity",
                  "fields"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the schema"
                  },
                  "entity": {
                    "type": "string",
                    "description": "Entity type for the schema"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SchemaField"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Schema created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Schema with this name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/schemas/{schemaId}": {
      "get": {
        "summary": "Get a specific schema by ID",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "required": true,
            "description": "ID of the schema to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Schema retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid schema ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing schema",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "required": true,
            "description": "ID of the schema to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the schema"
                  },
                  "entity": {
                    "type": "string",
                    "description": "Entity type for the schema"
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/SchemaField"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Schema updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data or schema ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Schema with this name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a schema",
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaId",
            "in": "path",
            "required": true,
            "description": "ID of the schema to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Schema deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid schema ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/templates/{templateId}/auditlog": {
      "get": {
        "deprecated": true,
        "summary": "Get template audit log entries (DEPRECATED)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nTemplate functionality has been replaced by schemas in /v4/schemas endpoints.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "ID of the template to retrieve audit logs from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template audit log entries returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "timestamp",
                    "logEntriesCount",
                    "logEntries",
                    "pagination"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Template ID"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the response"
                    },
                    "logEntriesCount": {
                      "type": "integer",
                      "description": "Total number of log entries"
                    },
                    "logEntries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Audit log entry ID"
                          },
                          "operationType": {
                            "type": "string",
                            "enum": [
                              "CREATE",
                              "UPDATE",
                              "DELETE"
                            ],
                            "description": "Type of operation performed"
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID of the user who performed the operation"
                          },
                          "userEmail": {
                            "type": "string",
                            "description": "Email of the user who performed the operation"
                          },
                          "previousValue": {
                            "type": "object",
                            "description": "Previous state of the template"
                          },
                          "newValue": {
                            "type": "object",
                            "description": "New state of the template"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the operation was performed"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of log entries"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "404": {
            "description": "Template not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/templates": {
      "get": {
        "deprecated": true,
        "summary": "Get all available templates (DEPRECATED - use /v4/schemas instead)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use GET /v4/schemas instead, which provides the same functionality with improved schema structure.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v4/templates/{templateId}": {
      "get": {
        "deprecated": true,
        "summary": "Get template by ID (DEPRECATED - use /v4/schemas/{schemaId} instead)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use GET /v4/schemas/{schemaId} instead, which provides the same functionality with improved schema structure.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "ID of the schema to retrieve (use schemaId in new endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "templateId missing"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "templateId not found"
          }
        }
      },
      "delete": {
        "deprecated": true,
        "summary": "Delete a template (DEPRECATED - use /v4/schemas/{schemaId} instead)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use DELETE /v4/schemas/{schemaId} instead.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "ID of the template to delete (use schemaId in new endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully"
          },
          "400": {
            "description": "templateId missing"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/v4/templates/copy": {
      "post": {
        "deprecated": true,
        "summary": "Copy workflow to template (DEPRECATED)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use the /v4/schemas endpoint to create schemas instead.\n",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflowId": {
                    "type": "string",
                    "description": "ID of the workflow to copy as template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/templates/install": {
      "post": {
        "deprecated": true,
        "summary": "Install template (DEPRECATED)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use POST /v4/workflows with schemaId parameter instead.\n",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userConfigId": {
                    "type": "string",
                    "description": "ID of the template to install"
                  },
                  "schema": {
                    "type": "array",
                    "description": "Schema fields"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the installed template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template installed successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/templates/{templateId}/rename": {
      "put": {
        "deprecated": true,
        "summary": "Rename a template (DEPRECATED - use /v4/schemas/{schemaId} instead)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use PUT /v4/schemas/{schemaId} instead to update schema properties.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "ID of the template to rename (use schemaId in new endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the template"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template renamed successfully"
          },
          "400": {
            "description": "Missing required fields (templateId or name)"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/v4/templates/{templateId}/edit": {
      "put": {
        "deprecated": true,
        "summary": "Edit a template (DEPRECATED - use /v4/schemas/{schemaId} instead)",
        "description": "**⚠️ DEPRECATED**: This endpoint is deprecated and will be removed in Q4 2025.\nPlease use PUT /v4/schemas/{schemaId} instead to update schema fields.\n",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "description": "ID of the template to edit (use schemaId in new endpoint)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "schema": {
                    "type": "array",
                    "description": "Updated schema fields"
                  },
                  "rebuildExisting": {
                    "type": "boolean",
                    "description": "Whether to rebuild existing workflows"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Template updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Template not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/v4/workflows": {
      "post": {
        "summary": "Create a new workflow",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Workflows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Workflow with Custom Schema",
                    "description": "Create a workflow by defining entity and fields directly",
                    "required": [
                      "urls",
                      "navigationMode"
                    ],
                    "properties": {
                      "entity": {
                        "type": "string",
                        "description": "Entity name for extraction (required unless using agentic-navigation mode)"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SchemaField"
                        },
                        "description": "Schema fields for extraction (required unless using agentic-navigation mode)"
                      },
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of URLs to scrape"
                      },
                      "navigationMode": {
                        "type": "string",
                        "description": "Navigation mode for scraping. When using agentic-navigation, userPrompt is required and entity/fields become optional",
                        "enum": [
                          "single-page",
                          "paginated-page",
                          "page-and-detail",
                          "agentic-navigation"
                        ]
                      },
                      "userPrompt": {
                        "type": "string",
                        "description": "Required when navigationMode is agentic-navigation. Natural language instructions for the agent (between 10 and 5000 characters)",
                        "minLength": 10,
                        "maxLength": 5000
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Maximum number of items to scrape"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "auto",
                              "manual"
                            ]
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "Country ISO code for manual location"
                          }
                        },
                        "description": "Scraping location configuration"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the workflow"
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 500,
                        "description": "Optional description of the workflow (maximum 500 characters)"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tags for categorization"
                      },
                      "monitoring": {
                        "type": "object",
                        "description": "Monitoring configuration"
                      },
                      "interval": {
                        "type": "string",
                        "description": "Update frequency",
                        "enum": [
                          "ONLY_ONCE",
                          "EVERY_10_MINUTES",
                          "HALF_HOURLY",
                          "HOURLY",
                          "THREE_HOURLY",
                          "SIX_HOURLY",
                          "TWELVE_HOURLY",
                          "EIGHTEEN_HOURLY",
                          "DAILY",
                          "TWO_DAY",
                          "THREE_DAY",
                          "WEEKLY",
                          "BIWEEKLY",
                          "TRIWEEKLY",
                          "FOUR_WEEKLY",
                          "MONTHLY",
                          "REAL_TIME",
                          "CUSTOM"
                        ]
                      },
                      "schedules": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Cron schedules for updates"
                      },
                      "bypassPreview": {
                        "type": "boolean",
                        "description": "When true, bypasses preview and installs the scraper immediately with the given limit",
                        "default": false
                      },
                      "interactions": {
                        "type": "array",
                        "description": "Optional browser interactions to perform during scraping",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "CLICK",
                                "TYPE",
                                "HOVER",
                                "SCROLL",
                                "WAIT"
                              ],
                              "description": "Type of interaction"
                            },
                            "selector": {
                              "type": "string",
                              "description": "CSS selector for the target element"
                            },
                            "text": {
                              "type": "string",
                              "description": "Text to type (required for TYPE interactions)"
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Workflow with Existing Schema",
                    "description": "Create a workflow using an existing schema configuration",
                    "required": [
                      "schemaId",
                      "urls",
                      "navigationMode"
                    ],
                    "properties": {
                      "schemaId": {
                        "type": "string",
                        "description": "ID of existing schema configuration (not required when using agentic-navigation mode)"
                      },
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of URLs to scrape"
                      },
                      "navigationMode": {
                        "type": "string",
                        "description": "Navigation mode for scraping. When using agentic-navigation, userPrompt is required and schemaId becomes optional",
                        "enum": [
                          "single-page",
                          "paginated-page",
                          "page-and-detail",
                          "agentic-navigation"
                        ]
                      },
                      "userPrompt": {
                        "type": "string",
                        "description": "Required when navigationMode is agentic-navigation. Natural language instructions for the agent (between 10 and 5000 characters)",
                        "minLength": 10,
                        "maxLength": 5000
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Maximum number of items to scrape"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "auto",
                              "manual"
                            ]
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "Country ISO code for manual location"
                          }
                        },
                        "description": "Scraping location configuration"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the workflow"
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 500,
                        "description": "Optional description of the workflow (maximum 500 characters)"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tags for categorization"
                      },
                      "monitoring": {
                        "type": "object",
                        "description": "Monitoring configuration"
                      },
                      "interval": {
                        "type": "string",
                        "description": "Update frequency",
                        "enum": [
                          "ONLY_ONCE",
                          "EVERY_10_MINUTES",
                          "HALF_HOURLY",
                          "HOURLY",
                          "THREE_HOURLY",
                          "SIX_HOURLY",
                          "TWELVE_HOURLY",
                          "EIGHTEEN_HOURLY",
                          "DAILY",
                          "TWO_DAY",
                          "THREE_DAY",
                          "WEEKLY",
                          "BIWEEKLY",
                          "TRIWEEKLY",
                          "FOUR_WEEKLY",
                          "MONTHLY",
                          "REAL_TIME",
                          "CUSTOM"
                        ]
                      },
                      "schedules": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Cron schedules for updates"
                      },
                      "bypassPreview": {
                        "type": "boolean",
                        "description": "When true, bypasses preview and installs the scraper immediately with the given limit",
                        "default": false
                      },
                      "interactions": {
                        "type": "array",
                        "description": "Optional browser interactions to perform during scraping",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "CLICK",
                                "TYPE",
                                "HOVER",
                                "SCROLL",
                                "WAIT"
                              ],
                              "description": "Type of interaction"
                            },
                            "selector": {
                              "type": "string",
                              "description": "CSS selector for the target element"
                            },
                            "text": {
                              "type": "string",
                              "description": "Text to type (required for TYPE interactions)"
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "workflowId": {
                      "type": "string",
                      "description": "ID of the created workflow"
                    },
                    "info": {
                      "type": "string",
                      "description": "Information about workflow creation",
                      "example": "Your workflow has been acknowledged and will be installed within the next 5 minutes"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error message"
                        },
                        "success": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "General error message",
                          "example": "Invalid request"
                        },
                        "validationErrors": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Detailed validation errors by field"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Simple error message"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Unauthorized access error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Server error message"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Service unavailable message"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get a list of workflows",
        "description": "Retrieves a list of workflows with pagination and search capabilities",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter workflows by name or URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of items to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter workflows by state",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "ERROR",
                "PAUSED",
                "NOT_SUPPORTED"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter workflows by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "monitoring",
            "in": "query",
            "description": "Filter workflows by monitoring status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "updateInterval",
            "in": "query",
            "description": "Filter workflows by update interval",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "HOURLY",
                "DAILY",
                "WEEKLY",
                "MONTHLY"
              ]
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Filter workflows by template ID (DEPRECATED - templates replaced by schemas)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Include deleted workflows (for compliance officers)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                true,
                false
              ],
              "default": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (json or csv for export)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "description": "List of workflows",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Unique identifier for the workflow"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the workflow"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the workflow"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "ERROR",
                              "PAUSED",
                              "NOT_SUPPORTED",
                              "PREVIEW",
                              "COMPLIANCE_REVIEW",
                              "COMPLIANCE_REJECTED",
                              "QUEUED",
                              "SETUP",
                              "DELETED"
                            ],
                            "description": "Current state of the workflow"
                          },
                          "displayState": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "ERROR",
                              "PAUSED",
                              "NOT_SUPPORTED",
                              "PREVIEW",
                              "COMPLIANCE_REVIEW",
                              "COMPLIANCE_REJECTED",
                              "QUEUED",
                              "SETUP",
                              "RUNNING"
                            ],
                            "description": "Display state for frontend"
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID of the user who owns the workflow"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the workflow was created"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags associated with the workflow"
                          },
                          "limit": {
                            "type": "integer",
                            "description": "Maximum number of items to scrape"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the last job finished"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the last job started"
                          },
                          "protocol": {
                            "type": "string",
                            "description": "Protocol information from last job"
                          },
                          "jobId": {
                            "type": "string",
                            "description": "ID of the last job"
                          },
                          "dataKey": {
                            "type": "string",
                            "description": "Database key for the workflow data"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "auto",
                                  "manual"
                                ]
                              },
                              "isoCode": {
                                "type": "string",
                                "enum": [
                                  "DE",
                                  "US",
                                  "GB",
                                  "NL",
                                  "CA"
                                ]
                              }
                            },
                            "description": "Scraping location configuration"
                          },
                          "runCosts": {
                            "type": "number",
                            "description": "Cost of the last job run in credits"
                          },
                          "runState": {
                            "type": "string",
                            "description": "State of the last job run"
                          },
                          "totalRecords": {
                            "type": "integer",
                            "description": "Total number of records extracted"
                          },
                          "url": {
                            "type": "string",
                            "description": "Primary URL being scraped"
                          },
                          "urls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of URLs being scraped"
                          },
                          "browserActions": {
                            "type": "array",
                            "description": "Optional browser actions to perform before extraction",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Action type (e.g., CLICK, TYPE, WAIT, GOTO)"
                                },
                                "selector": {
                                  "type": "string",
                                  "description": "CSS selector for element-based actions"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Text to type for TYPE actions"
                                },
                                "timeMs": {
                                  "type": "integer",
                                  "description": "Milliseconds to wait for WAIT actions"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL to navigate to for GOTO actions"
                                }
                              }
                            }
                          },
                          "schema": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/SchemaField"
                            },
                            "description": "Extraction schema fields"
                          },
                          "schemaType": {
                            "type": "string",
                            "enum": [
                              "DETAIL",
                              "DIRECTORY"
                            ],
                            "description": "Type of schema (deprecated)"
                          },
                          "templateName": {
                            "type": "string",
                            "description": "Name of the template used"
                          },
                          "templateId": {
                            "type": "string",
                            "description": "ID of the template used"
                          },
                          "isSchemaEditable": {
                            "type": "boolean",
                            "description": "Whether the schema can be edited"
                          },
                          "dataValidation": {
                            "type": "object",
                            "description": "Data validation configuration",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "Whether data validation is enabled for the workflow"
                              }
                            }
                          },
                          "validationStatistics": {
                            "type": "object",
                            "description": "Validation statistics for the workflow",
                            "properties": {
                              "total": {
                                "type": "object",
                                "properties": {
                                  "count": {
                                    "type": "number",
                                    "description": "Overall validation score"
                                  },
                                  "change": {
                                    "type": "number",
                                    "description": "Change in validation score since last validation"
                                  }
                                }
                              },
                              "byRule": {
                                "type": "object",
                                "properties": {
                                  "ruleName": {
                                    "type": "string"
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          },
                          "monitoring": {
                            "type": "boolean",
                            "description": "Whether monitoring is enabled"
                          },
                          "notificationConfig": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fieldName": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string",
                                      "enum": [
                                        "changed",
                                        "added",
                                        "removed"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            "description": "Monitoring configuration"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "description": "Pagination information",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of workflows matching the filter criteria"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/auditlog": {
      "get": {
        "summary": "Get workflow audit log entries",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve audit logs from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow audit log entries returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "timestamp",
                    "logEntriesCount",
                    "logEntries",
                    "pagination"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Workflow ID"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the response"
                    },
                    "logEntriesCount": {
                      "type": "integer",
                      "description": "Total number of log entries"
                    },
                    "logEntries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Audit log entry ID"
                          },
                          "operationType": {
                            "type": "string",
                            "enum": [
                              "CREATE",
                              "UPDATE",
                              "DELETE"
                            ],
                            "description": "Type of operation performed"
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID of the user who performed the operation"
                          },
                          "userEmail": {
                            "type": "string",
                            "description": "Email of the user who performed the operation"
                          },
                          "previousValue": {
                            "type": "object",
                            "description": "Previous state of the workflow"
                          },
                          "newValue": {
                            "type": "object",
                            "description": "New state of the workflow"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the operation was performed"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of log entries"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}": {
      "get": {
        "summary": "Get workflow by ID",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Unique identifier for the workflow"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the workflow"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the workflow"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "ERROR",
                        "PAUSED",
                        "NOT_SUPPORTED",
                        "PREVIEW",
                        "COMPLIANCE_REVIEW",
                        "COMPLIANCE_REJECTED",
                        "QUEUED",
                        "SETUP",
                        "DELETED"
                      ],
                      "description": "Current state of the workflow"
                    },
                    "displayState": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "ERROR",
                        "PAUSED",
                        "NOT_SUPPORTED",
                        "PREVIEW",
                        "COMPLIANCE_REVIEW",
                        "COMPLIANCE_REJECTED",
                        "QUEUED",
                        "SETUP",
                        "RUNNING"
                      ],
                      "description": "Display state for frontend"
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID of the user who owns the workflow"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the workflow was created"
                    },
                    "updateInterval": {
                      "type": "string",
[...]
