{
  "openapi": "3.0.3",
  "info": {
    "title": "Kadoa API",
    "version": "3.0.0",
    "contact": {
      "name": "Support",
      "email": "support@kadoa.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kadoa.com"
    }
  ],
  "paths": {
    "/v4/adhoc/{schemaId}": {
      "post": {
        "summary": "Extract data from a single webpage (Proxy to Scraper API)",
        "description": "Instantly extracts data from a webpage using either a schema for structured data or markdown/html for unstructured content. This endpoint proxies requests to the scraper API.",
        "tags": [
          "Adhoc"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "schemaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Either a custom schema ID or one of the following special values:\n* `html` - Returns raw HTML of the page\n* `body` - Returns cleaned HTML body content\n* `markdown` - Returns content converted to markdown format\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "The URL link to be scraped"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of location, either auto or manual"
                      },
                      "isoCode": {
                        "type": "string",
                        "description": "The ISO code of the location, only required if type is manual. Available locations can be found on the locations api."
                      }
                    },
                    "description": "The location object for the proxy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response object containing scraping data and request metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response (SUCCESS, NO_DATA, TIMEOUT, NETWORK_ERROR, ERROR)"
                    },
                    "link": {
                      "type": "string",
                      "description": "The URL that was scraped"
                    },
                    "location": {
                      "type": "object",
                      "description": "The location object used for the proxy"
                    },
                    "data": {
                      "type": "object",
                      "description": "Validated data after scraping and processing (null for NO_DATA, TIMEOUT, etc.)"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "Path to the screenshot"
                    },
                    "requestTimeMs": {
                      "type": "integer",
                      "description": "The time taken to process the request in milliseconds"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable message explaining the result (present for error/timeout scenarios)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, either due to missing 'link' or 'schemaId'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Adhoc config not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (rare - most failures return 200 with appropriate status)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the response (ERROR)"
                    },
                    "link": {
                      "type": "string",
                      "description": "The URL that was being scraped"
                    },
                    "location": {
                      "type": "object",
                      "description": "The location object used for the proxy"
                    },
                    "requestTimeMs": {
                      "type": "integer",
                      "description": "The time taken to process the request in milliseconds"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "Path to the screenshot"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/changes": {
      "get": {
        "summary": "Get all data changes",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of workflow IDs. If not provided, returns changes for all ACTIVE workflows",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date to filter changes (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date to filter changes (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow changes returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the response"
                    },
                    "changesCount": {
                      "type": "integer",
                      "description": "Total number of changes found"
                    },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the change"
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "ID of the workflow this change belongs to"
                          },
                          "data": {
                            "type": "array",
                            "description": "Current state of the data after the change",
                            "items": {
                              "type": "object"
                            }
                          },
                          "differences": {
                            "type": "array",
                            "description": "Structured representation of changes with object-based diffing",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Type of change (added, removed, or changed)",
                                  "enum": [
                                    "added",
                                    "removed",
                                    "changed"
                                  ]
                                },
                                "fields": {
                                  "type": "array",
                                  "description": "List of field changes",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "Field name"
                                      },
                                      "value": {
                                        "type": "string",
                                        "description": "Current field value"
                                      },
                                      "previousValue": {
                                        "type": "string",
                                        "description": "Previous field value (only present for changed type)"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "description": "URL where the change was detected"
                          },
                          "screenshotUrl": {
                            "type": "string",
                            "description": "URL of the screenshot taken when the change was detected"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the change was created"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of changes found"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of records per page"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid date range or workflow IDs)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \"https://api.kadoa.com/v4/workflows/changes?workflowIds=123,456&startDate=2024-01-01T00:00:00Z&endDate=2024-03-01T00:00:00Z\" \\\n-H \"x-api-key: YOUR_API_KEY\"\n"
          },
          {
            "lang": "python",
            "source": "import requests\n\nurl = \"https://api.kadoa.com/v4/workflows/changes\"\nheaders = {\n    \"x-api-key\": \"YOUR_API_KEY\"\n}\nparams = {\n    \"workflowIds\": \"123,456\",\n    \"startDate\": \"2024-01-01T00:00:00Z\",\n    \"endDate\": \"2024-03-01T00:00:00Z\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\ndata = response.json()\nprint(data)\n"
          }
        ]
      }
    },
    "/v4/changes/{changeId}": {
      "get": {
        "summary": "Get data change by ID",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changeId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow change to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow change returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the change"
                    },
                    "workflowId": {
                      "type": "string",
                      "description": "ID of the workflow this change belongs to"
                    },
                    "data": {
                      "type": "array",
                      "description": "Current state of the data after the change",
                      "items": {
                        "type": "object"
                      }
                    },
                    "differences": {
                      "type": "array",
                      "description": "Structured representation of changes with object-based diffing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of change (added, removed, or changed)",
                            "enum": [
                              "added",
                              "removed",
                              "changed"
                            ]
                          },
                          "fields": {
                            "type": "array",
                            "description": "List of field changes",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Field name"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Current field value"
                                },
                                "previousValue": {
                                  "type": "string",
                                  "description": "Previous field value (only present for changed type)"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "URL where the change was detected"
                    },
                    "screenshotUrl": {
                      "type": "string",
                      "description": "URL of the screenshot taken when the change was detected"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the change was created"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid change ID format)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "403": {
            "description": "Forbidden (no access to the workflow or workflow not real-time enabled)"
          },
          "404": {
            "description": "Change not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \"https://api.kadoa.com/v4/changes/123456789\" \\\n-H \"x-api-key: YOUR_API_KEY\"\n"
          },
          {
            "lang": "python",
            "source": "import requests\n\nurl = \"https://api.kadoa.com/v4/changes/123456789\"\nheaders = {\n    \"x-api-key\": \"YOUR_API_KEY\"\n}\n\nresponse = requests.get(url, headers=headers)\ndata = response.json()\nprint(data)\n"
          }
        ]
      }
    },
    "/v4/files/{fileName}": {
      "get": {
        "summary": "Download a file",
        "description": "Downloads a specific file from the storage",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "description": "Name of the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "File content in its original format"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - File name is required or invalid"
          },
          "401": {
            "description": "Unauthorized - Authentication required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/files/bulk-download": {
      "post": {
        "summary": "Download multiple files as a ZIP archive",
        "description": "Downloads multiple files from the storage and returns them as a ZIP archive",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of file names to download"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing the requested files",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "ZIP archive containing the requested files"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Files list is required or invalid"
          },
          "401": {
            "description": "Unauthorized - Authentication required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/locations": {
      "get": {
        "summary": "Get all available locations",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryName": {
                            "type": "string",
                            "description": "Full name of the country"
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "Two-letter ISO country code in uppercase"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/auditlog": {
      "get": {
        "summary": "Get workflow audit log entries",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve audit logs from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow audit log entries returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "timestamp",
                    "logEntriesCount",
                    "logEntries",
                    "pagination"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Workflow ID"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the response"
                    },
                    "logEntriesCount": {
                      "type": "integer",
                      "description": "Total number of log entries"
                    },
                    "logEntries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Audit log entry ID"
                          },
                          "operationType": {
                            "type": "string",
                            "enum": [
                              "CREATE",
                              "UPDATE",
                              "DELETE"
                            ],
                            "description": "Type of operation performed"
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID of the user who performed the operation"
                          },
                          "userEmail": {
                            "type": "string",
                            "description": "Email of the user who performed the operation"
                          },
                          "previousValue": {
                            "type": "object",
                            "description": "Previous state of the workflow"
                          },
                          "newValue": {
                            "type": "object",
                            "description": "New state of the workflow"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the operation was performed"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "totalPages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of log entries"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}": {
      "get": {
        "summary": "Get workflow by ID",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the workflow"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the workflow"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the workflow"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "ERROR",
                        "PAUSED",
                        "NOT_SUPPORTED",
                        "PREVIEW",
                        "COMPLIANCE_REVIEW",
                        "COMPLIANCE_REJECTED",
                        "QUEUED",
                        "SETUP",
                        "DELETED"
                      ],
                      "description": "Current state of the workflow"
                    },
                    "displayState": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "ERROR",
                        "PAUSED",
                        "NOT_SUPPORTED",
                        "PREVIEW",
                        "COMPLIANCE_REVIEW",
                        "COMPLIANCE_REJECTED",
                        "QUEUED",
                        "SETUP",
                        "RUNNING",
                        "DELETED"
                      ],
                      "description": "Display state for frontend"
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID of the user who owns the workflow"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the workflow was created"
                    },
                    "updateInterval": {
                      "type": "string",
                      "description": "Update frequency"
                    },
                    "schedules": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cron schedules for updates"
                    },
                    "nextInvocation": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Next scheduled execution time"
                    },
                    "monitoring": {
                      "type": "boolean",
                      "description": "Whether monitoring is enabled"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "auto",
                            "manual"
                          ]
                        },
                        "isoCode": {
                          "type": "string",
                          "enum": [
                            "DE",
                            "US",
                            "GB",
                            "NL",
                            "CA"
                          ]
                        }
                      },
                      "description": "Scraping location configuration"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Tags associated with the workflow"
                    },
                    "templateName": {
                      "type": "string",
                      "description": "Name of the template used"
                    },
                    "templateId": {
                      "type": "string",
                      "description": "ID of the template used"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "ID of the last job"
                    },
                    "finishedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the last job finished"
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the last job started"
                    },
                    "dataKey": {
                      "type": "string",
                      "description": "Database key for the workflow data"
                    },
                    "errors": {
                      "type": "array",
                      "description": "Errors from the last job run",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "string",
                            "description": "Error code identifying the type of error"
                          },
                          "message": {
                            "type": "string",
                            "description": "Human-readable error message"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the error occurred"
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "Optional screenshot URL"
                          },
                          "context": {
                            "type": "object",
                            "description": "Additional context about the error"
                          }
                        }
                      }
                    },
                    "runCosts": {
                      "type": "number",
                      "description": "Cost of the last job run in credits"
                    },
                    "runState": {
                      "type": "string",
                      "description": "State of the last job run"
                    },
                    "totalRecords": {
                      "type": "integer",
                      "description": "Total number of records extracted"
                    },
                    "url": {
                      "type": "string",
                      "description": "Primary URL being scraped"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of URLs being scraped"
                    },
                    "browserActions": {
                      "type": "array",
                      "description": "Optional browser actions to perform before extraction",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Action type (e.g., CLICK, TYPE, WAIT, GOTO)"
                          },
                          "selector": {
                            "type": "string",
                            "description": "CSS selector for element-based actions"
                          },
                          "text": {
                            "type": "string",
                            "description": "Text to type for TYPE actions"
                          },
                          "timeMs": {
                            "type": "integer",
                            "description": "Milliseconds to wait for WAIT actions"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL to navigate to for GOTO actions"
                          }
                        }
                      }
                    },
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "example": {
                            "type": "string"
                          },
                          "dataType": {
                            "type": "string",
                            "enum": [
                              "STRING",
                              "NUMBER",
                              "BOOLEAN",
                              "DATE",
                              "DATETIME",
                              "CURRENCY",
                              "MONEY",
                              "IMAGE",
                              "LINK",
                              "OBJECT",
                              "ARRAY"
                            ]
                          },
                          "isKey": {
                            "type": "boolean"
                          },
                          "isRequired": {
                            "type": "boolean"
                          },
                          "isUnique": {
                            "type": "boolean"
                          }
                        }
                      },
                      "description": "Extraction schema fields"
                    },
                    "entity": {
                      "type": "object",
                      "description": "Entity information"
                    },
                    "isSchemaEditable": {
                      "type": "boolean",
                      "description": "Whether the schema can be edited"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of items to scrape"
                    },
                    "additionalData": {
                      "type": "object",
                      "description": "Additional static data for the workflow"
                    },
                    "dataValidation": {
                      "type": "object",
                      "description": "Data validation configuration",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "Whether data validation is enabled"
                        },
                        "ruleCounts": {
                          "type": "object",
                          "description": "Counts of validation rules by status",
                          "properties": {
                            "enabled": {
                              "type": "integer",
                              "description": "Number of enabled validation rules"
                            },
                            "disabled": {
                              "type": "integer",
                              "description": "Number of disabled validation rules"
                            },
                            "preview": {
                              "type": "integer",
                              "description": "Number of preview validation rules"
                            }
                          }
                        }
                      }
                    },
                    "linkingColumns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Columns configured for data linking"
                    },
                    "dataLinking": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "linkingColumns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "validationStatistics": {
                      "type": "object",
                      "description": "Validation statistics",
                      "properties": {
                        "count": {
                          "type": "number",
                          "description": "Overall validation score"
                        },
                        "change": {
                          "type": "number",
                          "description": "Change in validation score since last validation"
                        }
                      }
                    },
                    "notificationConfig": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fieldName": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "changed",
                                  "added",
                                  "removed"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "description": "Monitoring configuration"
                    },
                    "channelCounts": {
                      "type": "object",
                      "description": "Number of connected channels per event type",
                      "additionalProperties": {
                        "type": "integer"
                      },
                      "example": {
                        "workflow_data_change": 3,
                        "workflow_finished": 1,
                        "workflow_failed": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid workflowId format"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - User doesn't have required permissions"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "description": "Retrieves detailed information about a specific workflow. This endpoint requires authentication and proper\nteam access permissions.\n"
      },
      "delete": {
        "summary": "Delete a workflow",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deleted successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow deleted"
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/compliance-approve": {
      "put": {
        "summary": "Approve workflow for compliance",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to approve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow approved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "workflowId": {
                      "type": "string"
                    },
                    "newState": {
                      "type": "string",
                      "enum": [
                        "ACTIVE"
                      ]
                    },
                    "actionBy": {
                      "type": "string"
                    },
                    "actionAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - workflow not in compliance review state"
          },
          "403": {
            "description": "Forbidden - requires COMPLIANCE_OFFICER role (no exceptions for admin/owner)"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/compliance-reject": {
      "put": {
        "summary": "Reject workflow for compliance",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to reject",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for rejecting the workflow",
                    "example": "Workflow violates data privacy policies"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "workflowId": {
                      "type": "string"
                    },
                    "newState": {
                      "type": "string",
                      "enum": [
                        "COMPLIANCE_REJECTED"
                      ]
                    },
                    "actionBy": {
                      "type": "string"
                    },
                    "actionAt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - workflow not in compliance review state or missing reason"
          },
          "403": {
            "description": "Forbidden - requires COMPLIANCE_OFFICER role (no exceptions for admin/owner)"
          },
          "404": {
            "description": "Workflow not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/data-linker/configure-linking": {
      "post": {
        "summary": "Configure and validate data linking columns for a workflow",
        "description": "Verifies if data can be linked using specified columns and saves the configuration to the workflow",
        "tags": [
          "Data Linker"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workflowId"
                ],
                "properties": {
                  "workflowId": {
                    "type": "string",
                    "description": "The workflow ID to configure data linking for"
                  },
                  "linkingColumns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Columns to use for linking data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linking configuration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether the data linking is enabled"
                    },
                    "linkingColumns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The configured linking columns"
                    },
                    "errors": {
                      "type": "array",
                      "description": "List of errors preventing data linking",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "MISSING_COLUMNS",
                              "NULL_VALUES",
                              "DUPLICATE_VALUES",
                              "TYPE_MISMATCH",
                              "INSUFFICIENT_JOBS",
                              "NO_JOBS"
                            ]
                          },
                          "message": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "description": "List of warnings that don't prevent data linking",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DATA_LOSS",
                              "PERFORMANCE"
                            ]
                          },
                          "message": {
                            "type": "string"
                          },
                          "details": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "jobsToLink": {
                      "type": "array",
                      "description": "Jobs that would be linked if data linking is enabled",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dataKey": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "totalJobs": {
                      "type": "number",
                      "description": "Total number of jobs found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error or data linking not possible",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "title": "Validation Error",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Invalid input"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detailed validation errors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "path": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "Data Linking Error",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Data linking validation failed"
                        },
                        "details": {
                          "type": "object",
                          "description": "Context about the data linking error",
                          "additionalProperties": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no access to workflow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "This team does not exist or you dont have the required access to this team or resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Workflow with id 'abc123' not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal server error during data linking configuration"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/data-linker/toggle-linking": {
      "post": {
        "summary": "Toggle data linking on/off for a workflow",
        "description": "Enable or disable data linking for a workflow",
        "tags": [
          "Data Linker"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workflowId",
                  "enabled"
                ],
                "properties": {
                  "workflowId": {
                    "type": "string",
                    "description": "The workflow ID to toggle data linking for"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether to enable or disable data linking"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data linking toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Data linking disabled successfully"
                    },
                    "dataLinking": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "linkingColumns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or configuration",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "title": "Validation Error",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Invalid input"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detailed validation errors",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "path": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "Configuration Required Error",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "string",
                          "example": "Cannot enable data linking without configured linking columns"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - user doesn't have access to the workflow",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "This team does not exist or you dont have the required access to this team or resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Workflow with id 'abc123' not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to toggle data linking"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/data": {
      "get": {
        "summary": "Get workflow data by ID",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve data from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": false,
            "description": "ID of a specific run to retrieve data from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Format of the response data",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort the results by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order (ascending or descending)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "JSON-encoded array of filter objects",
            "schema": {
              "type": "string"
            },
            "example": "[{\"field\":\"jobTitle\",\"operator\":\"CONTAINS\",\"value\":\"Manager\"},{\"field\":\"postedDate\",\"operator\":\"GREATER_THAN\",\"value\":\"2023-01-01\"}]"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page (0 for streaming all data)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 25
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "required": false,
            "description": "Enable gzip compression for the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "rowIds",
            "in": "query",
            "required": false,
            "description": "Filter results by specific row IDs (comma-separated or JSON array)",
            "schema": {
              "type": "string"
            },
            "example": "id1,id2,id3"
          },
          {
            "name": "includeAnomalies",
            "in": "query",
            "required": false,
            "description": "Include validation anomalies for each row in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workflowId",
                    "data",
                    "pagination"
                  ],
                  "properties": {
                    "workflowId": {
                      "type": "string"
                    },
                    "runId": {
                      "type": "string",
                      "nullable": true
                    },
                    "executedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid or missing API key or Bearer token)"
          },
          "404": {
            "description": "Workflow or job not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-filter-options": {
          "description": "The 'filters' parameter accepts a JSON-encoded array of filter objects. Each filter object should have the following structure:\n\n{\n  \"field\": \"fieldName\",\n  \"operator\": \"OPERATOR\",\n  \"value\": \"filterValue\"\n}\n\nAvailable operators:\n- EQUALS: Exact match\n- NOT_EQUALS: Does not match\n- CONTAINS: Field contains the value (case-insensitive)\n- NOT_CONTAINS: Field does not contain the value (case-insensitive)\n- STARTS_WITH: Field starts with the value (case-insensitive)\n- ENDS_WITH: Field ends with the value (case-insensitive)\n- GREATER_THAN: Field is greater than the value\n- LESS_THAN: Field is less than the value\n- GREATER_THAN_OR_EQUAL: Field is greater than or equal to the value\n- LESS_THAN_OR_EQUAL: Field is less than or equal to the value\n- IN: Field value is in the provided array\n- NOT_IN: Field value is not in the provided array\n- IS_NULL: Field is null\n- IS_NOT_NULL: Field is not null\n- IS_EMPTY: Field is null or an empty string\n- IS_NOT_EMPTY: Field is not null and not an empty string\n\nExample:\n[\n  {\"field\": \"jobTitle\", \"operator\": \"CONTAINS\", \"value\": \"Manager\"},\n  {\"field\": \"postedDate\", \"operator\": \"GREATER_THAN\", \"value\": \"2023-01-01\"},\n  {\"field\": \"department\", \"operator\": \"IN\", \"value\": [\"Sales\", \"Marketing\"]}\n]\n"
        },
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET \"https://api.kadoa.com/v4/workflows/123456789/data?format=json&sortBy=postedDate&order=desc&filters=%5B%7B%22field%22%3A%22jobTitle%22%2C%22operator%22%3A%22CONTAINS%22%2C%22value%22%3A%22Manager%22%7D%2C%7B%22field%22%3A%22postedDate%22%2C%22operator%22%3A%22GREATER_THAN%22%2C%22value%22%3A%222023-01-01%22%7D%5D&page=1&limit=25\" \\\n-H \"x-api-key: YOUR_API_KEY\"\n"
          },
          {
            "lang": "python",
            "source": "import requests\nimport json\n\nurl = \"https://api.kadoa.com/v4/workflows/123456789/data\"\nheaders = {\n    \"x-api-key\": \"YOUR_API_KEY\"\n}\nparams = {\n    \"format\": \"json\",\n    \"sortBy\": \"postedDate\",\n    \"order\": \"desc\",\n    \"filters\": json.dumps([\n        {\"field\": \"jobTitle\", \"operator\": \"CONTAINS\", \"value\": \"Manager\"},\n        {\"field\": \"postedDate\", \"operator\": \"GREATER_THAN\", \"value\": \"2023-01-01\"}\n    ]),\n    \"page\": 1,\n    \"limit\": 25\n}\n\nresponse = requests.get(url, headers=headers, params=params)\ndata = response.json()\nprint(data)\n"
          }
        ]
      }
    },
    "/v4/workflows/{workflowId}/history": {
      "get": {
        "summary": "Get the workflow run history",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workflow whose runs history is to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "History of workflow runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "description": "Unique identifier of the workflow"
                    },
                    "workflowRuns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the workflow run"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "IN_PROGRESS",
                              "FINISHED",
                              "FAILED",
                              "NOT_SUPPORTED",
                              "FAILED_INSUFFICIENT_FUNDS"
                            ],
                            "description": "State of the workflow run"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date and time of the workflow run"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Finish date and time of the workflow run"
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "Screenshot of the navigation during the workflow run"
                          },
                          "records": {
                            "type": "integer",
                            "description": "Number of records processed in the workflow run"
                          },
                          "errors": {
                            "type": "array",
                            "description": "Errors that occurred during the workflow run",
                            "items": {
                              "type": "object",
                              "properties": {
                                "errorCode": {
                                  "type": "string",
                                  "description": "Error code identifying the type of error"
                                },
                                "message": {
                                  "type": "string",
                                  "description": "Human-readable error message"
                                },
                                "timestamp": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the error occurred"
                                },
                                "screenshot": {
                                  "type": "string",
                                  "description": "Optional screenshot URL"
                                },
                                "context": {
                                  "type": "object",
                                  "description": "Additional context about the error",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "The URL where the error occurred"
                                    },
                                    "httpStatus": {
                                      "type": "integer",
                                      "description": "HTTP status code if applicable"
                                    },
                                    "retryCount": {
                                      "type": "integer",
                                      "description": "Number of retry attempts made"
                                    },
                                    "details": {
                                      "type": "string",
                                      "description": "Additional error-specific details"
                                    },
                                    "timestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "When the error context was captured"
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              }
                            }
                          },
                          "credits": {
                            "type": "number",
                            "description": "Number of credits used for this workflow run"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          },
          "404": {
            "description": "Workflow runs for the specified ID could not be found"
          }
        }
      }
    },
    "/v4/workflows/{workflowId}/jobs/{jobId}": {
      "get": {
        "summary": "Get job status and telemetry",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The ID of the job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and telemetry retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The job ID"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "IN_PROGRESS",
                        "FINISHED",
                        "FAILED",
                        "NOT_SUPPORTED",
                        "FAILED_INSUFFICIENT_FUNDS"
                      ],
                      "description": "Current state of the job"
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Start date and time of the job"
                    },
                    "finishedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Finish date and time of the job (if completed)"
                    },
                    "limit": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Record limit for the job"
                    },
                    "workflowId": {
                      "type": "string",
                      "description": "ID of the workflow/scraper"
                    },
                    "variables": {
                      "type": "object",
                      "description": "Job variables (optional)"
                    },
                    "protocol": {
                      "type": "object",
                      "description": "Protocol information (optional)",
                      "properties": {
                        "decision": {
                          "type": "string",
                          "description": "State of the run if it FAILED"
                        },
                        "reasoning": {
                          "type": "string",
                          "description": "Description why the run failed"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid job ID)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v4/workflows": {
      "get": {
        "summary": "Get a list of workflows",
        "description": "Retrieves a list of workflows with pagination and search capabilities",
        "tags": [
          "Workflows"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter workflows by name, URL, or workflow ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of items to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter workflows by state",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "ERROR",
                "PAUSED",
                "NOT_SUPPORTED"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter workflows by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "monitoring",
            "in": "query",
            "description": "Filter workflows by monitoring status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "updateInterval",
            "in": "query",
            "description": "Filter workflows by update interval",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "HOURLY",
                "DAILY",
                "WEEKLY",
                "MONTHLY"
              ]
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Filter workflows by template ID (DEPRECATED - templates replaced by schemas)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter workflows by user ID (only works in team context)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Include deleted workflows (for compliance officers)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                true,
                false
              ],
              "default": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format (json or csv for export)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workflows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "description": "List of workflows",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the workflow"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the workflow"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the workflow"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "ERROR",
                              "PAUSED",
                              "NOT_SUPPORTED",
                              "PREVIEW",
                              "COMPLIANCE_REVIEW",
                              "COMPLIANCE_REJECTED",
                              "QUEUED",
                              "SETUP",
                              "DELETED"
                            ],
                            "description": "Current state of the workflow"
                          },
                          "displayState": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "ERROR",
                              "PAUSED",
                              "NOT_SUPPORTED",
                              "PREVIEW",
                              "COMPLIANCE_REVIEW",
                              "COMPLIANCE_REJECTED",
                              "QUEUED",
                              "SETUP",
                              "RUNNING",
                              "FAILED",
                              "DELETED"
                            ],
                            "description": "Display state for frontend"
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID of the user who owns the workflow"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the workflow was created"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags associated with the workflow"
                          },
                          "limit": {
                            "type": "integer",
                            "description": "Maximum number of items to scrape"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the last job finished"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the last job started"
                          },
                          "jobId": {
                            "type": "string",
                            "description": "ID of the last job"
                          },
                          "dataKey": {
                            "type": "string",
                            "description": "Database key for the workflow data"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "auto",
                                  "manual"
                                ]
                              },
                              "isoCode": {
                                "type": "string",
                                "enum": [
                                  "DE",
                                  "US",
                                  "GB",
                                  "NL",
                                  "CA"
                                ]
                              }
[...]
